// {
//   "extends": "@react-native-community",
//   "rules": {
//     "quotes": [2, "double", { "avoidEscape": true }],
//     "prettier/prettier": [
//       "error",
//       {
//         "endOfLine": "auto"
//       }

//     ]
//   }
// }

{
  "extends": "@react-native-community",
  "rules": {
    "quotes": "off",
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ]
  }
}
